<p id="notice"><%= notice %></p>

<p>
  <b>Treść cytatu:</b>
  <%= @fortune.quotation %>
</p>

<p>
  <b>Źródło:</b>
  <%= @fortune.source %>
</p>
<%= link_to 'Edytuj', edit_fortune_path(@fortune) %> |
<%= link_to 'Cofnij', fortunes_path %>

<div>
<% if @fortune.comments.any? %>
  <h2>Komentarze</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>
</div>
<div>
<h2>Dodaj nowy komentarz</h2>
<%= render :partial => 'comments/form' %>
</div>



